﻿@using TinyUrlTest.ViewModels;
@model UrlMapsViewModel
@{
    ViewBag.Title = "Admin";
   
    int[] options = {4, 8, 10, 20, 30, 40, 50, 100};
}

@section MainContent{

<div class="row">

    <div class="col-sm-8 col-xs-6">
        <ul class="pagination pagination-md  pull-left">

            @for (int i = 1; i <= Model.PagesNumber; i++)
            {
                <li @Html.Raw(Model.PageNumber == i ? "class='active'" : "")>
                    @Html.ActionLink(i.ToString(), "Index", new { id = i, itemsPerPage = Model.ItemsPerPage })
                </li>
            }
        </ul>
    </div>

    @using (Html.BeginForm("Index", "TinyUrl"))
    {
        <div class="col-xs-6 col-sm-4  text-right">
           
            <div class="pull-right" style="vertical-align:bottom;padding-top:19px;">
             
                <div class="input-group pull-right">
                    <span class="input-group-addon">per page</span>
                    <select class="form-control select-perpage" name="itemsPerPage" id="itemsPerPage" style="width:70px;margin-right:0px; ">
                        @foreach (var option in options)
                        {
                            <option @(option == Model.ItemsPerPage ? "selected=\"selected\"" : "")>@option</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    }
</div>   

<div class="row hidden-xs visible-md visible-lg" style="margin-top:40px;">
    <div class="col-xs-2 col-xs-12"><h4><b>Id</b></h4></div>
    <div class="col-xs-12 col-md-2"><h4><b>Alias</b></h4></div>
    <div class="col-xs-7 col-xs-9 "><h4><b>Tiny URL / Long URL </b></h4></div>
    <div class="col-md-1 col-xs-3">
        <a class="btn btn-default btn-sm btn-refresh-grid" title="Refresh grid">
            <span class="glyphicon glyphicon-refresh"></span>
        </a>
    </div>
</div>
<hr class="hr-grid" />

@if (Model.UrlMapsCount == 0){
    <div class="row">
        <div class="col-xs-12 text-center">No data</div>       
    </div>
    <hr/>
}
else
{
    foreach (var m in Model.UrlMaps)
    {
        <div class="row">
            <div class="col-md-2 col-xs-12"><text class="hidden-md hidden-lg"><u>Id:</u></text> <span>@m.Id</span></div>
            <div class="col-md-2 col-xs-12"><text class="hidden-md hidden-lg"><u>Alias:</u></text> <a href="@Model.Host@m.TinyUrl"><span>@m.TinyUrl</span></a></div>
            <div class="col-md-7 col-xs-12">
                <text class="hidden-md hidden-lg"><u>Tiny url:</u> </text>
                <a href="@Model.Host@m.TinyUrl"><span>@Model.Host@m.TinyUrl</span></a><br />
                <text class="hidden-md hidden-lg"><u>Long url:</u> </text>
                <a href="@m.LongUrl"><span>@m.LongUrl</span></a>               
            </div>            
            <div class="col-md-1 col-xs-12"><br class="hidden-md hidden-lg"/>                
                <a class="btn btn-sm  btn-default  link-delete-url-map"
                   href="@Url.Action( "DeleteUrlMap", "TinyUrl", new { id = m.Id })" title="Delete tiny url">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </div>        
         <hr />
    }
}
}  

@section Scripts {
<script>
        $(function () {
          
            $(".container").on("click", ".btn-refresh-grid", function (event) {
                event.preventDefault();
                var target = $(".hr-grid");
                window.location.href = "/TinyUrl/Index/1?itemsPerPage=" + $("#itemsPerPage").val();
                return;
            });

            $(".select-perpage").change(function (e) {

                $(this).closest("form").submit();
            });

            $("li.active a").click(function (e) {
                e.preventDefault();
            });

        $(".container").on("click", ".link-delete-url-map", function (event) {
            event.preventDefault();

            var deleteLinkObj = $(this);
            var parent = deleteLinkObj.closest('.row');
            var spans = parent.find("span");
            var links = parent.find("a");
            var urlId = spans.eq(0).text();
            var alias = spans.eq(1).text();
            var tinyUrl = "<br/>Tiny URL:<br/>" + links.eq(1).html();
            var fullUrl = "<br/>Long URL:<br/>" +links.eq(2).html();
                                
            var temp = "<div id ='divModalDelete'>Do you want to delete this record?<br/><br/>Id:  " + urlId +
                                "<br/>Alias:  " + alias + tinyUrl + fullUrl +"</div>";
            BootstrapDialog.show({
                title: 'Confirmation',
                message: temp,

                buttons: [{
                    label: 'Yes',
                    action: function (dialogItself) {

                        $.post(deleteLinkObj[0].href, function (data) {
                            if (data > 0) {
                                parent.next().remove();
                                parent.remove();
                                dialogItself.close();
                            }
                            else {

                                dialogItself.close();
                                temp.find("#divModalDelete")
                                    .html("Not able to delete tiny url" + name)
                                    .addClass("text-danger");
                                var dialogInstance1 = new BootstrapDialog({
                                    title: 'Error',
                                    type: BootstrapDialog.TYPE_DANGER,
                                    message: temp.html()
                                });
                                dialogInstance1.open();
                            }
                        });
                    }

                }, {
                    label: 'No',
                    action: function (dialogItself) {
                        dialogItself.close();
                    }
                }]
            });
        });

    })
</script>

}  


